body {
    margin: 0;
}

.div-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.header-table {
    list-style: none;
    display: flex;
}

.header-table li > a {
    display: inline; 
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    margin-right: 47px;
    list-style: none;
    text-decoration: none;
}

header, footer {
    display: flex;
    justify-content: space-around;
    background: #131313;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    height: 83px;

}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    margin: 0 auto;
    color: white;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
}

.button-prozr {
    background: none;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    /* padding: 13px 33px; */
    margin: 0 auto;
    color: white;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
}

.section-button {
    width: 207px;
    height: 51px;
}

.header-number a {
    margin-right: 45px;
    color: #E3B873;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    }

.main-section {
    background-image: url(../images/cover-sect1.jpg);
    background-size: cover;
    height: 707px;
    position: relative;
}

.section-div-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    padding: 194px 134px;
    position: relative;
    /* display: block;
    position: relative;
    padding: 194px 134px;
    margin: 0;
    width: 676px;
    height: 300px;
    max-width: 1440px; */
}

.section-div-container-header {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    /* padding: 194px; */
    margin: 0px;
}

.special-color {
    color: #E3B873;
}

.section-div-container p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.main-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
} 

h2 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    position: relative;
}

h3 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}

.completed-projects p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 42px 0;
}

.completed-projects-items-div span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.completed-projects {
    background-color: black;
    margin: 0;
    height: 1074px;
}

.table-comleted-projects {
    margin: 0 auto;
    display: flex;
    list-style: none;
    padding-top: 107px;
    padding-bottom: 50px;
    padding-left: 520px;
}

.table-comleted-projects li > a {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    text-decoration: none;
    margin-right: 80px;
}

.completed-projects-flex {
    display: flex;
    flex-direction: column;
    /* height: 679px; */
    width: 442px;
}

.apartment-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.completed-projects-div {
    display: flex;
    justify-content: space-around;
}

.completed-projects-items-div {
    height: 80px;
    width: 213px;
}

.container-completed-projects-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.completed-projects-arrows {
	display: flex;
    margin-top: 25px;
}

.line {
	margin-right: -7px;
	margin-left: 15px;
}

.fline {
	margin-left: -7px;
	margin-right: 15px;
}
.less {
	margin-top: 1px;
}

.dot {
	margin: 0 15px;
}

.section-video {
    margin: 0;
    height: 1074px;
}
.camera {
    display: flex;
    margin: 15px;
}

.div-container-video {
    margin-top: -300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.name {
    display: inline;
    margin-top: 50px;
}

.linehr {
    background: #E3B873;
    border-radius: 30px;
    margin: 50px auto;
}

.div-container-video p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.videoz {
    margin-top: -434px;
}

.ellipse {
    /* margin-top: -217px; */
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
}

.triangle {
    /* margin-top: -217px; */
    background: #FFFFFF;
    transform: rotate(90deg);
}

.form_input {
    border: none;
    border-bottom: 2px solid lightgrey;
    margin-right: 30px;
    outline: none;
    padding-bottom: 5px;
}

.form_input::placeholder {
    color: rgb(0, 0, 0);
    padding-bottom: 8px;
  }

#submit {
    height: 51px;
    width: 200px;
}

.form_name {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    align-items: flex-end;
    justify-content: center;
}

.checkbox-container {
    display: flex;
    position: relative;
    cursor: pointer;
    margin: 35px 0 auto;
    align-items: center;
    width: 50%;
  }
 /* немного выровняем текст подсказки */

 #our_checkbox_label  {
   margin-left:30px;
   margin-top: 6px;
 
 }

/* прячем чекбокс по умолчанию */

.checkbox-container input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* оформляем кастомный чекбокс */

.checkmark {
    position: absolute;
    top: 0;
    height: 18px;
    width: 18px;
    border: 2px solid #E3B873;
    cursor: pointer;
    background: white;
}
/* При наведении мыши добавляем интерактивности*/
.checkbox-container:hover input ~ .checkmark {
    background-color: lightgrey;
}
  
/* Когда галочка должна стоять - оформляем наш кастомный элемент должным образом*/
.checkbox-container input:checked ~ .checkmark {
    background-color: #E3B873;
}
  
/* внутренний индикатор для нашего чекбокса в ненажатом состоянии */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* показываем внутренний индикатор при нажатии */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
  
/* и задаем стиль для внутреннего индикатора  - позволяет креативить по полной */
.checkbox-container .checkmark:after {
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background: #E3B873;
    /* border-radius: 2px; */
}
.galka {
	z-index: 1;
	position: absolute;
	left: 4px;
	top: 4px;
}

input, label{
    display:block;
}

.input-label {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: rgba(54, 54, 54, 0.5);
	transform: rotate(-0.07deg);
}

.section-types-of-repair {
    margin: 0;
    max-width: 1440px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.types-of-repair-header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.types-of-repair-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    width: 1440px;
}

.decor-ul {
    display: block;
    position: relative;
    width: 330px;
    height: 286px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin-top: -120px;
    margin-left: auto;
    margin-right: auto;    
}

h4 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 0;
    
    padding-top: 25px;
    padding-left: 34px;
}

.decor-ul ul {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

/* для второй формы стили ПОЧИСТИТЬ!!! */

input, label{
    display:block;
}

.input-label-request {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}

.form_input-request {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    margin: 0;
	margin-bottom: 40px;
    outline: none;
    padding-bottom: 5px;
	background-color: black;
	color: white;
	width: 408px;
}

.form_input-request::placeholder {
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;
  }

#submit {
    height: 51px;
    width: 200px;
}

.form_name-request {
    display: block;
    width: 440px;
	height: 509px;
	background-color: black;
	margin-bottom: 30px;
	padding-left: 49px;
	padding-right: 19px;
}

h5 {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 30px;
    position: relative;

}

.button-request {
	transform: translate(120px, 29px);
}

.checkbox-container-request {
    display: flex;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    
  }
 /* немного выровняем текст подсказки */



 #our_checkbox_label-request  {
   margin-left:30px;
   margin-top: 6px;
   color: white;
 
 }

/* прячем чекбокс по умолчанию */

.checkbox-container-request input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* оформляем кастомный чекбокс */

.checkmark-request {
    position: absolute;
    top: 0;
    height: 18px;
    width: 18px;
    border: 2px solid #E3B873;
    cursor: pointer;
    /* border-radius: 2px; */
    background: white;
}
/* При наведении мыши добавляем интерактивности*/
.checkbox-container-request:hover input ~ .checkmark-request {
    background-color: lightgrey;
}
  
/* Когда галочка должна стоять - оформляем наш кастомный элемент должным образом*/
.checkbox-container-request input:checked ~ .checkmark-request {
    /* border: 2px solid #E3B873; */
    background-color: #E3B873;
}
  
/* внутренний индикатор для нашего чекбокса в ненажатом состоянии */
.checkmark-request:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* показываем внутренний индикатор при нажатии */
.checkbox-container-request input:checked ~ .checkmark-request:after {
    display: block;
}
  
/* и задаем стиль для внутреннего индикатора  - позволяет креативить по полной */
.checkbox-container-request .checkmark-request:after {
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background: #E3B873;
    /* border-radius: 2px; */
}
.galka {
	z-index: 1;
	position: absolute;
	left: 4px;
	top: 4px;
}

/* поудалять лишние стили сверху */

.advantage-list {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(../images/bg-image.png);
    background-size: 100% 100%;
    height: 650px;
    width: 650px;
    top: -100px;
}

.advantage-form {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-right: 50px;
    top: 220px;
}

.advantage {
    display: flex;
    margin-left: 221px;
    margin-top: 57px;
    top: 43px;
    position: relative;
}

.advantage p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    position: relative;
    right: 25px;
    top: 7px;
}

.help-save {
    position: relative;
    top: 120px;
    left: 640px;
    display: flex;
    width: 350px;
}

.help-save p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    margin-left: -35px;
    margin-top: 22px;
}

.help-save-pig {
    position: relative;
    right: 76px;
    top: 27px;
}

.help-save-dollar {
    position: relative;
    right: 102px;
    top: 37px;
}

.advantage-digit {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    right: 52px;
    top: 27px;
}

.section-realize {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    top: 322px;
}

.realize-container {
    position: relative;
    background-image: url(../images/sect-realize.jpg);
    background-size: 100% 100%;
    width: 1440px;
    height: 864px;
}

.realize-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.american-ul li {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    position: relative;
    margin-left: 62px;
    top: 84px;
}

.img-real {
    position: relative;
}

.img-real1 {
    bottom: 687px;
    left: 578px;
}

.img-real2 {
    bottom: 297px;
    left: 218px;
}

.img-real3 {
    bottom: 1042px;
    left: 254px;
}

.img-real4 {
    bottom: 379px;
    right: 103px;
}

.realize-container h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
    text-align: left;
    margin-left: 100px;
    top: 112px;
}

.realize-header {
    position: relative;
    top: 129px;
    left: 100px;
}

/* тут пошла секция с фотками клиентов */

.our-clients {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    top: 430px;

}

.our-clients-div {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: space-between;
    margin-bottom: 20px;
}

 .our-clients-div p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin: 0;
    
 }

.client-container {
    display: flex;
    justify-content: space-around;
}

.client {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    width: 376px;
    height: 428px;
}

.client p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    margin: 0 30px;
}

h6 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    margin-left: 20px;
}

.client-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 293px;
    height: 54px;
    padding: 0;
    margin: 0;
    position: relative;
    color: white;
    top: 89px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;

}

.client-img {
    border-radius: 50%;
    width: 76px;
    height: 76px;
}

.foto-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

/* тут пошла последняя  с формой и картой */

.question-section {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    top: 430px;
}

.sky-img {
    display: flex;
    flex-wrap: nowrap;
    opacity: .05;
    /* color: #E6E6E6; */
}

.question-form-div {
    display: block;
    width: 883px;
	height: 445px;
	background-color: black;
	padding-left: 49px;
	padding-right: 19px;
    position: relative;
    margin: 0 auto;
    bottom: 268px;
}

.question-form {
    position: relative;
}

/* Секция с картой */

.map-sect {
    background-image: url(../images/map-cover.jpg);
    background-size: cover;
    height: 953px;
    position: relative;
}

.map-sect::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.map-div {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 274px;
}

.link-img {
    display: flex;
    justify-content: space-around;
}